{{#get "tags" filter="accent_color: #ff0000"}}
<div class="grid lg:grid-cols-2 grid-cols-1 gap-4 my-3">
    {{#foreach tags}}
    <div class="container relative text-center overflow-hidden">
        <a class="hover:text-brand-green" href="{{url}}">
        <img class="filter brightness-50 object-cover w-full h-full" 
            srcset="{{img_url feature_image size="s"}} 300w,
                    {{img_url feature_image size="m"}} 720w,
                    {{img_url feature_image size="l"}} 960w"
                    sizes="(max-width: 1200px) 100vw, 1200px"
                    src="{{img_url feature_image size="m"}}"
                    alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{name}}{{/if}}"
                    >
                <div class="absolute w-full h-full inset-y-0 lg:px-56 md:px-16 sm:px-4 px-2">
                    <div class="flex h-full justify-center items-center">
                        <h1 class="lg:text-4xl text-3xl uppercase">{{name}}</h1>
                    </div>
                </div>
        </a>
    </div>
    {{/foreach}}
</div>
{{/get}}