{{#get "tags" filter="accent_color: #333333"}}
    {{#if tags}}
    {{!-- Divider --}}
    <div class="mb-5 flex items-center">
        <p class="flex-shrink-0 pr-2 uppercase">виставки</p>
        <hr class="border-brand-green w-full">
    </div>
    {{!-- End --}}
        <div class="grid lg:grid-cols-2 md:grid-cols-2 sm:grid-cols-1 grid-cols-1 lg:gap-10 gap-10 mb-20">
        {{#tags}}
        {{#has slug="krov-z-ochiei"}}
                <div class="text-center ">
                    <a href="{{url}}">
                        <img class="w-full" srcset="{{img_url feature_image size="s"}} 300w,
                                    {{img_url feature_image size="m"}} 720w,
                                    {{img_url feature_image size="l"}} 960w"
                                    sizes="(max-width: 1200px) 100vw, 1200px"
                                    src="{{img_url feature_image size="m"}}"
                                    alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{name}}{{/if}}"
                            >
                            <div class="mt-4">
                                <h1 class="hover:underline text-2xl uppercase">{{name}}</h1>
                                <p class="text-green-400 mt-3 text-sm uppercase">{{meta_description}}</p>
                            </div>
                    </a>
                </div>
            {{/has}}
            {{#has slug="vsie-proti-vas"}}
                <div class="text-center ">
                    <a href="{{url}}">
                        <img class="w-full" srcset="{{img_url feature_image size="s"}} 300w,
                                    {{img_url feature_image size="m"}} 720w,
                                    {{img_url feature_image size="l"}} 960w"
                                    sizes="(max-width: 1200px) 100vw, 1200px"
                                    src="{{img_url feature_image size="m"}}"
                                    alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{name}}{{/if}}"
                            >
                            <div class="mt-4">
                                <h1 class="hover:underline text-2xl uppercase">{{name}}</h1>
                                <p class="text-green-400 mt-3 text-sm uppercase">{{meta_description}}</p>
                            </div>
                    </a>
                </div>
            {{/has}}
            {{#has slug="u-pratsi-skonati"}}
                <div class="text-center ">
                    <a href="{{url}}">
                        <img class="w-full" srcset="{{img_url feature_image size="s"}} 300w,
                                    {{img_url feature_image size="m"}} 720w,
                                    {{img_url feature_image size="l"}} 960w"
                                    sizes="(max-width: 1200px) 100vw, 1200px"
                                    src="{{img_url feature_image size="m"}}"
                                    alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{name}}{{/if}}"
                            >
                            <div class="mt-4">
                                <h1 class="hover:underline text-2xl uppercase">{{name}}</h1>
                                <p class="text-green-400 mt-3 text-sm uppercase">{{meta_description}}</p>
                            </div>
                    </a>
                </div>
            {{/has}}
            {{#has slug="osin-binarnosti"}}
                <div class="text-center ">
                    <a href="{{url}}">
                        <img class="w-full" srcset="{{img_url feature_image size="s"}} 300w,
                                    {{img_url feature_image size="m"}} 720w,
                                    {{img_url feature_image size="l"}} 960w"
                                    sizes="(max-width: 1200px) 100vw, 1200px"
                                    src="{{img_url feature_image size="m"}}"
                                    alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{name}}{{/if}}"
                            >
                            <div class="mt-4">
                                <h1 class="hover:underline text-2xl uppercase">{{name}}</h1>
                                <p class="text-green-400 mt-3 text-sm uppercase">{{meta_description}}</p>
                            </div>
                    </a>
                </div>
            {{/has}}
            {{/tags}}
        </div>
    {{/if}}
{{/get}}