{{!-- Featured main block --}}
<div class="flex flex-col justify-items-center content-center mb-56 text-center">
    <img src="{{asset "images/hero-image.png"}}" alt="">
    <div class="mx-72">
        <p class="my-16 text-3xl font-light">"Джерело" - виставковий простір, відкритий для вулиці. Спосіб існування "Джерела" - прозорість, відкритість погляду перехожих. </p>
        <a href="#" class="border border-green-400 px-48 py-3 text-green-400 hover:text-black hover:bg-green-400 hover:font-bold">
            {{caps "читати більше"}}
        </a>
    </div>
</div>
{{!-- End --}}
{{!-- Devider --}}
<div class="mb-10 flex items-center">
    <p class="pr-2">{{caps "виставки"}}</p>
    <hr class="border-green-400 w-full">
</div>
{{!-- End --}}
<div class="grid grid-cols-2 gap-4">
{{#get "tags" filter="accent_color: #333333"}}
    {{#foreach tags}}
    <div class="text-center hover:underline">
        <a href="{{url}}">
            <img srcset="{{img_url feature_image size="s"}} 300w,
                {{img_url feature_image size="m"}} 720w,
                {{img_url feature_image size="l"}} 960w,
                {{img_url feature_image size="xl"}} 1200w,
                {{img_url feature_image size="xxl"}} 2000w"
                sizes="(max-width: 1200px) 100vw, 1200px"
                src="{{img_url feature_image size="xl"}}"
                alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{name}}{{/if}}"
                >
        <h1 class="text-xl py-10">{{caps name}}</h1>
        </a>
    </div>
    {{/foreach}}
    </div>
{{/get}}
{{!-- Devider --}}
    <div class="mb-10 flex items-center">
        <p class="w-36">{{caps "останні відео"}}</p>
        <hr class="border-green-400 w-full">
    </div>
{{!-- End --}}
{{#get "posts" include="tags" filter="tag:hash-video" limit="4"}}
    <div class="grid grid-cols-2 gap-4">
    {{#foreach posts}}
    <div class="">
        <a href="{{url}}">
        <img srcset="{{img_url feature_image size="s"}} 300w,
                {{img_url feature_image size="m"}} 720w,
                {{img_url feature_image size="l"}} 960w,
                {{img_url feature_image size="xl"}} 1200w,
                {{img_url feature_image size="xxl"}} 2000w"
                sizes="(max-width: 1200px) 100vw, 1200px"
                src="{{img_url feature_image size="xl"}}"
                alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{name}}{{/if}}"
                >
        <h1 class="text-xl">{{caps title}}</h1>
        <p>{{caps primary_tag.name}}</p>
        </a>
    </div>
    {{/foreach}}
    </div>
{{/get}}
<div class="text-center">
    <a href="#" class="text-center border border-green-400 px-48 py-3 text-green-400 hover:text-black hover:bg-green-400 hover:font-bold">
        {{caps "Дивитися більше"}}
    </a>
</div>
{{!-- Devider --}}
<div class="mb-10 flex items-center">
    <p class="w-44">{{caps "останні тексти"}}</p>
    <hr class="border-green-400 w-full">
</div>
{{!-- End --}}
{{#get "posts" include="tags" filter="tag:hash-text" limit="4"}}
    <div class="grid grid-cols-2 gap-4">
    {{#foreach posts}}
            <div class="">
                <a href="{{url}}">
                <img srcset="{{img_url feature_image size="s"}} 300w,
                    {{img_url feature_image size="m"}} 720w,
                    {{img_url feature_image size="l"}} 960w,
                    {{img_url feature_image size="xl"}} 1200w,
                    {{img_url feature_image size="xxl"}} 2000w"
                    sizes="(max-width: 1200px) 100vw, 1200px"
                    src="{{img_url feature_image size="xl"}}"
                        alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{name}}{{/if}}"
                    >
                <h1 class="text-xl">{{caps title}}</h1>
                <p>{{primary_tag.name}}</p>
                </a>
            </div>
    {{/foreach}}
    </div>
{{/get}}
<div class="text-center">
            <a href="#" class="text-center border border-green-400 px-48 py-3 text-green-400 hover:text-black hover:bg-green-400 hover:font-bold">
                {{caps "читати більше"}}
            </a>
</div>
