{{!-- Featured main block --}}
<div class="mt-6 flex flex-col justify-items-center content-center lg:mb-36 md:mb-32 sm:mb-24 mb-12 text-center">
    <img src="{{asset "images/hero-image.png"}}" alt="">
    <div class="lg:mx-72 md:mx-36 sm:mx-18">
        <p class="my-16 text-3xl font-light">"Джерело" - виставковий простір, відкритий для вулиці. Спосіб існування "Джерела" - прозорість, відкритість погляду перехожих. </p>
        <a href="#" class="lg:px-48 md:px-24 sm:px-10 px-8 border border-green-400 py-3 text-green-400 hover:text-black hover:bg-green-400 hover:font-bold">
            {{caps "читати більше"}}
        </a>
    </div>
</div>
{{!-- End --}}
{{!-- Devider --}}
<div class="mb-5 flex items-center">
    <p class="pr-2">{{caps "виставки"}}</p>
    <hr class="border-green-400 w-full">
</div>
{{!-- End --}}
<div class="grid grid-cols-2 gap-4 mb-20">
{{#get "tags" filter="accent_color: #333333"}}
    {{#foreach tags}}
    <div class="text-center ">
        <a href="{{url}}">
            <img srcset="{{img_url feature_image size="s"}} 300w,
                        {{img_url feature_image size="m"}} 720w,
                        {{img_url feature_image size="l"}} 960w,
                        {{img_url feature_image size="xl"}} 1200w,
                        {{img_url feature_image size="xxl"}} 2000w"
                        sizes="(max-width: 1200px) 100vw, 1200px"
                        src="{{img_url feature_image size="xl"}}"
                        alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{name}}{{/if}}"
                >
                <div class="mt-4">
                    <h1 class="hover:underline text-xl">{{caps name}}</h1>
                    <p class="text-green-400 mt-3 text-sm">{{meta_description}}</p>
                </div>
        </a>
    </div>
    {{/foreach}}
    </div>
{{/get}}
{{!-- Devider --}}
    <div class="mb-5 flex items-center">
        <p class="lg:w-36 md:w-36 sm:w-36 w-50">{{caps "останні відео"}}</p>
        <hr class="border-green-400 w-full">
    </div>
{{!-- End --}}
{{#get "posts" include="tags" filter="tag:hash-video" limit="4"}}
    <div class="grid grid-cols-2 gap-4 mb-10">
    {{#foreach posts}}
    <div class="">
        <a href="{{url}}">
        <img srcset="{{img_url feature_image size="s"}} 300w,
                {{img_url feature_image size="m"}} 720w,
                {{img_url feature_image size="l"}} 960w,
                {{img_url feature_image size="xl"}} 1200w,
                {{img_url feature_image size="xxl"}} 2000w"
                sizes="(max-width: 1200px) 100vw, 1200px"
                src="{{img_url feature_image size="xl"}}"
                alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{name}}{{/if}}"
                >
            <div class="mt-2">
                <h1 class="text-2xl">{{caps title}}</h1>
                <p class="text-green-400 text-sm">{{caps primary_tag.name}}</p>
            </div>
        </a>
    </div>
    {{/foreach}}
    </div>
{{/get}}
<div class="text-center mb-20">
    <a href="#" class="lg:px-48 md:px-24 sm:px-10 px-8 border border-green-400 py-3 text-green-400 hover:text-black hover:bg-green-400 hover:font-bold">
        {{caps "Дивитися більше"}}
    </a>
</div>
{{!-- Devider --}}
<div class="mb-5 flex items-center">
    <p class="lg:w-44 md:w-44 sm:w-44 w-62">{{caps "останні тексти"}}</p>
    <hr class="border-green-400 w-full">
</div>
{{!-- End --}}
{{#get "posts" include="tags" filter="tag:hash-text" limit="4"}}
    <div class="grid grid-cols-2 gap-4 mb-10">
    {{#foreach posts}}
            <div class="">
                <a href="{{url}}">
                <img srcset="{{img_url feature_image size="s"}} 300w,
                    {{img_url feature_image size="m"}} 720w,
                    {{img_url feature_image size="l"}} 960w,
                    {{img_url feature_image size="xl"}} 1200w,
                    {{img_url feature_image size="xxl"}} 2000w"
                    sizes="(max-width: 1200px) 100vw, 1200px"
                    src="{{img_url feature_image size="xl"}}"
                        alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{name}}{{/if}}"
                    >
                <div class="mt-2">
                    <h1 class="text-2xl">{{caps title}}</h1>
                    <p class="text-green-400 text-sm">{{date published_at format="MMMM DD, YYYY"}} – <span class="text-gray-400">{{reading_time minute="ЧИТАТИ ОДНУ ХВИЛИНУ" minutes="ЧИТАТИ % ХВ"}}</span></p>
                </div>
                </a>
            </div>
    {{/foreach}}
    </div>
{{/get}}
<div class="text-center mb-20">
            <a href="#" class="lg:px-48 md:px-24 sm:px-10 px-8 border border-green-400 py-3 text-green-400 hover:text-black hover:bg-green-400 hover:font-bold">
                {{caps "читати більше"}}
            </a>
</div>
