{{!-- Featured main block --}}
<div class="mt-6 flex flex-col justify-items-center content-center lg:mb-36 md:mb-32 sm:mb-24 mb-16 text-center">
    <img src="{{asset "images/hero-image.png"}}" alt="">
    <div class="lg:mx-72 md:mx-36 sm:mx-18">
        <p class="mt-8 mb-14 text-3xl font-light">"Джерело" - виставковий простір, відкритий для вулиці. Спосіб існування "Джерела" - прозорість, відкритість погляду перехожих. </p>
        <a href="/wet-hole-about-dzherelo-and-bodies-in-the-city" class="uppercase lg:px-48 md:px-24 sm:px-10 px-8 border border-green-400 py-3 text-green-400 hover:text-black hover:bg-green-400 hover:font-bold">
            читати більше
        </a>
    </div>
</div>
{{!-- End --}}
{{#get "tags" filter="accent_color: #333333"}}
    {{#if tags}}
    {{!-- Divider --}}
    <div class="mb-5 flex items-center">
        <p class="flex-shrink-0 pr-2 uppercase">виставки</p>
        <hr class="border-green-400 w-full">
    </div>
    {{!-- End --}}
        <div class="grid lg:grid-cols-2 md:grid-cols-2 sm:grid-cols-1 grid-cols-1 lg:gap-4 gap-10 mb-20">
        {{#foreach tags}}
        <div class="text-center ">
            <a href="{{url}}">
                <img class="w-full" srcset="{{img_url feature_image size="s"}} 300w,
                            {{img_url feature_image size="m"}} 720w,
                            {{img_url feature_image size="l"}} 960w,
                            {{img_url feature_image size="xl"}} 1200w,
                            {{img_url feature_image size="xxl"}} 2000w"
                            sizes="(max-width: 1200px) 100vw, 1200px"
                            src="{{img_url feature_image size="xl"}}"
                            alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{name}}{{/if}}"
                    >
                    <div class="mt-4">
                        <h1 class="hover:underline text-xl uppercase">{{name}}</h1>
                        <p class="text-green-400 mt-3 text-sm uppercase">{{meta_description}}</p>
                    </div>
            </a>
        </div>
        {{/foreach}}
        </div>
    {{/if}}
{{/get}}
{{#get "posts" include="tags" filter="tag:hash-video" limit="4"}}
    {{#if posts}}
        {{!-- Divider --}}
            <div class="mb-5 flex items-center">
                <p class="flex-shrink-0 pr-2 uppercase">останні відео</p>
                <hr class="border-green-400 w-full">
            </div>
        {{!-- End --}}
        <div class="grid lg:grid-cols-2 md:grid-cols-2 sm:grid-cols-1 grid-cols-1 lg:gap-4 gap-10 mb-10">
        {{#foreach posts}}
        <div class="">
            <a href="{{url}}">
            <img srcset="{{img_url feature_image size="s"}} 300w,
                    {{img_url feature_image size="m"}} 720w,
                    {{img_url feature_image size="l"}} 960w,
                    {{img_url feature_image size="xl"}} 1200w,
                    {{img_url feature_image size="xxl"}} 2000w"
                    sizes="(max-width: 1200px) 100vw, 1200px"
                    src="{{img_url feature_image size="xl"}}"
                    alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{name}}{{/if}}"
                    >
                <div class="mt-2">
                    <h1 class="text-2xl uppercase">{{title}}</h1>
                    <p class="text-green-400 text-sm uppercase">{{primary_tag.name}}</p>
                </div>
            </a>
        </div>
        {{/foreach}}
        </div>
    {{/if}}
{{/get}}
<div class="text-center mb-20">
    <a href="/videos" class="uppercase lg:px-48 md:px-24 sm:px-10 px-8 border border-green-400 py-3 text-green-400 hover:text-black hover:bg-green-400 hover:font-bold">
        Дивитися більше
    </a>
</div>
{{#get "posts" include="tags" filter="tag:hash-text" limit="4"}}
{{#if posts}}
        {{!-- Divider --}}
        <div class="mb-5 flex items-center">
            <p class="flex-shrink-0 pr-2 uppercase">останні тексти</p>
            <hr class="border-green-400 w-full">
        </div>
        {{!-- End --}}
        <div class="grid lg:grid-cols-2 md:grid-cols-2 sm:grid-cols-1 grid-cols-1 lg:gap-4 gap-10 mb-10">
        {{#foreach posts}}
                <div class="">
                    <a href="{{url}}">
                    <img class="w-full m-0" srcset="{{img_url feature_image size="s"}} 300w,
                        {{img_url feature_image size="m"}} 720w,
                        {{img_url feature_image size="l"}} 960w,
                        {{img_url feature_image size="xl"}} 1200w,
                        {{img_url feature_image size="xxl"}} 2000w"
                        sizes="(max-width: 1200px) 100vw, 1200px"
                        src="{{img_url feature_image size="s"}}"
                            alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{name}}{{/if}}"
                        >
                    <div class="mt-2">
                        <h1 class="text-2xl uppercase">{{title}}</h1>
                        <p class="text-green-400 text-sm uppercase">{{date published_at format="MMMM DD, YYYY"}} – <span class="text-gray-400">{{reading_time minute="ЧИТАТИ ОДНУ ХВИЛИНУ" minutes="ЧИТАТИ % ХВ"}}</span></p>
                    </div>
                    </a>
                </div>
        {{/foreach}}
        </div>
    {{/if}}
{{/get}}
<div class="text-center mb-20">
            <a href="/blog" class="uppercase lg:px-48 md:px-24 sm:px-10 px-8 border border-green-400 py-3 text-green-400 hover:text-black hover:bg-green-400 hover:font-bold">
                читати більше"
            </a>
</div>
