{{#get "posts" include="tags" filter="tag:hash-text" limit="3"}}
{{#if posts}}
        {{!-- Divider --}}
        <div class="mb-5 flex items-center">
            <p class="flex-shrink-0 pr-2 uppercase">останні тексти</p>
            <hr class="border-brand-green w-full">
        </div>
        {{!-- End --}}
        <div class="grid lg:grid-cols-3 md:grid-cols-3 sm:grid-cols-1 grid-cols-1 lg:gap-4 gap-10 mb-20">
        {{#foreach posts}}
                <div class="">
                    <a href="{{url}}">
                    <img class="h-auto w-full object-cover" srcset="{{img_url feature_image size="s"}} 300w,
                        {{img_url feature_image size="m"}} 720w,
                        {{img_url feature_image size="l"}} 960w"
                        sizes="800px"
                        src="{{img_url feature_image size="m"}}"
                            alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
                        >
                    <div class="mt-2">
                        <h1 class="text-3xl uppercase">{{title}}</h1>
                        <p class="text-brand-green text-base uppercase">{{date published_at format="MMMM DD, YYYY"}} – <span class="text-gray-400">{{reading_time minute="ЧИТАТИ ОДНУ ХВИЛИНУ" minutes="ЧИТАТИ % ХВ"}}</span></p>
                    </div>
                    </a>
                </div>
        {{/foreach}}
        </div>
    {{/if}}
{{/get}}
<div class="text-center mb-20">
            <a href="/blog" class="uppercase lg:px-48 md:px-24 sm:px-10 px-8 border border-brand-green py-3 text-brand-green hover:text-black hover:bg-brand-green hover:font-bold">
                читати більше
            </a>
</div>
