{{#get "posts" include="tags" filter="tag:hash-video" limit="2"}}
    {{#if posts}}
        {{!-- Divider --}}
            <div class="mb-5 flex items-center">
                <p class="flex-shrink-0 pr-2 uppercase">Останні відео</p>
                <hr class="border-brand-green w-full">
            </div>
        {{!-- End --}}
        <div class="grid lg:grid-cols-2 md:grid-cols-2 sm:grid-cols-1 grid-cols-1 lg:gap-4 gap-10 mb-14">
        {{#foreach posts}}
        <div class="">
            <a href="{{url}}">
            <img class="w-full" srcset="{{img_url feature_image size="s"}} 300w,
                    {{img_url feature_image size="m"}} 720w,
                    {{img_url feature_image size="l"}} 960w"
                    sizes="800px"
                    src="{{img_url feature_image size="m"}}"
                    alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{name}}{{/if}}"
                    >
                <div class="mt-2">
                    <h1 class="text-3xl uppercase">{{title}}</h1>
                    <p class="text-brand-green text-base uppercase">{{primary_tag.name}}</p>
                </div>
            </a>
        </div>
        {{/foreach}}
        </div>
        <div class="text-center mb-20">
            <a href="/videos" class="uppercase lg:px-48 md:px-24 sm:px-10 px-8 border border-brand-green py-3 text-brand-green hover:text-black hover:bg-brand-green hover:font-bold">
                Дивитися більше
            </a>
        </div>
    {{/if}}
{{/get}}
