<!DOCTYPE html>
<html lang="{{@site.locale}}">
{{> head}}
<body class="{{body_class}} bg-black text-white lg:mx-8 md:mx-6 sm:mx-4 mx-2">
    <div class="mx-auto max-w-7xl">
        <div class="overlay-class hidden fixed bg-black h-screen w-screen inset-0 top-20 flex-col space-y-6 text-center text-lg z-40">
            {{navigation}}
                <ul class="nav justify-between">
                    <li><a href="/contacts">КОНТАКТИ</a></li>
                    <li><a href="/about-dzherelo">ПРО ДЖЕРЕЛО</a></li></ul>
            <div class="fixed inset-0 inset-y-3/4">
                {{#unless @member}}
                    <a class="border border-green-400 px-3 py-3 text-green-400 hover:text-black hover:bg-green-400 text-base" href="/support-dzherelo">
                        ПІДТРИМАТИ ДЖЕРЕЛО
                    </a>
                {{else}}
                    <a class="border border-green-400 px-3 py-3 text-green-400 hover:text-black hover:bg-green-400 text-base" href="#/portal/account">
                        МОЄ ДЖЕРЕЛО
                    </a>
                {{/unless}}
            </div>
        </div>
    </div>
        {{> header}}

        {{{body}}}
        {{#if @member.paid}}
            <div class="gh-subscribe">
                <div class="gh-outer">
                    <section class="gh-subscribe-inner">
                        {{^if @member}}
                            <h3 class="gh-subscribe-title">Subscribe to {{@site.title}}</h3>

                            <div class="gh-subscribe-description">Don’t miss out on the latest issues. Sign up now to get access to the library of members-only issues.</div>

                            <a class="gh-subscribe-input" href="#/portal/signup">
                                <div class="gh-subscribe-input-text">
                                    {{!-- {{> icons/email}} --}}
                                    jamie@example.com
                                </div>
                                <div class="gh-subscribe-input-btn">Subscribe</div>
                            </a>
                        {{else}}
                            <h3 class="gh-subscribe-title">Ready for unlimited access?</h3>

                            <div class="gh-subscribe-description">Upgrade to a paid account to get full access.</div>

                            <a class="gh-subscribe-btn gh-btn gh-primary-btn" href="#/portal/account/plans">Upgrade now</a>
                        {{/if}}
                    </section>
                </div>
            </div>
        {{/if}}
        {{> footer}}
    </div>
    
    <div class="hidden">
    {{#is "post, page"}}
        {{> pswp}}
    {{/is}}
    </div>
    {{!-- <script src="{{asset "built/main.min.js"}}"></script> --}}
    <script>
        var overlay = document.getElementsByClassName('overlay-class');
        var burger = document.getElementsByClassName('gh-burger');

        var changeState = function(){
            if (document.body.classList.contains('is-head-open')){
                document.body.classList.remove('is-head-open');
                overlay[0].classList.add('hidden');
            }else{
                document.body.classList.add('is-head-open');
                overlay[0].classList.remove('hidden');
            }
        }

        for(var i = 0; i <burger.length; i++){
            burger[i].addEventListener('click', changeState, false);
        }
    </script>
    {{ghost_foot}}
</body>
</html>