{{!< default}}

{{#tag}}
<main id="{{slug}}">
    <article id="{{slug}}">
        <div class="text-center">
            <img class="w-full" srcset="{{img_url og_image size="s"}} 300w,
                {{img_url og_image size="m"}} 720w,
                {{img_url og_image size="l"}} 960w"
                sizes="(max-width: 1200px) 100vw, 1200px"
                src="{{img_url og_image size="xl"}}"
                alt="{{#if og_image}}{{og_image_alt}}{{else}}{{name}}{{/if}}"
                >
                <div class="my-16 lg:mx-72 md:mx-36 sm:mx-18">
                    <span class="text-base uppercase">{{og_description}}</span>
                    <h1 class="text-4xl uppercase mt-10 mb-4">{{name}}</h1>
                    <p class="text-sm font-light mt-2">{{description}}</p>
                </div>
        </div>
    </article>
    {{#foreach posts}}
    {{!-- Divider --}}
    <div class="mb-5 flex items-center">
        <p class="flex-shrink-0 pr-2 uppercase">"{{name}}": Відео</p>
        <hr class="border-brand-green w-full">
    </div>
    {{!-- End --}}
    <div class="">
        {{title}}
    </div>
    {{/foreach}}
</main>
{{/tag}}