{{!< default}}

{{#tag}}
<main id="{{slug}}">
    <article id="{{slug}}">
        <div class="mt-12 text-center lg:mx-64 md:mx-24 sm:mx-14">
            <img class="w-full" srcset="{{img_url feature_image size="s"}} 300w,
                {{img_url feature_image size="m"}} 720w,
                {{img_url feature_image size="l"}} 960w"
                sizes="800px"
                src="{{img_url feature_image size="m"}}"
                alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{name}}{{/if}}"
                >
                <div class="my-12">
                    <h1 class="text-4xl uppercase my-8">{{name}}</h1>
                    <p class="text-xl font-light mt-2">{{description}}</p>
                </div>
                <div class="text-center mb-20">
                    <a href="/blog/{{slug}}" class="uppercase lg:px-48 md:px-24 sm:px-10 px-8 border border-brand-green py-3 text-brand-green hover:text-black hover:bg-brand-green hover:font-bold">
                        Читати більше
                    </a>
                </div>
        </div>
    </article>
    {{#get "posts" filter="tag:{{slug}}+tag:'hash-video'" limit="2"}}
        {{#if posts}}
        {{!-- Divider --}}
            <div class="mb-5 flex items-center">
                <p class="flex-shrink-0 pr-2 uppercase">Відео</p>
                <hr class="border-brand-green w-full">
            </div>
            {{!-- End --}}
            <div class="grid lg:grid-cols-2 md:grid-cols-2 sm:grid-cols-1 grid-cols-1 lg:gap-4 gap-10 mb-10 auto-rows-fr">
            {{#foreach posts}}
            <div class="">
                <a href="{{url}}">
                <img class="h-auto w-full object-cover" srcset="{{img_url feature_image size="s"}} 300w,
                        {{img_url feature_image size="m"}} 720w,
                        {{img_url feature_image size="l"}} 960w"
                        sizes="800px"
                        src="{{img_url feature_image size="m"}}"
                        alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
                        >
                    <div class="mt-2">
                        <h1 class="text-2xl uppercase">{{title}}</h1>
                        <p class="text-brand-green text-sm uppercase">{{primary_tag.name}}</p>
                    </div>
                </a>
            </div>
            {{/foreach}}
            </div>
        {{/if}}
    {{/get}}
    {{#get "posts" filter="tag:{{slug}}+tag:'hash-text'" limit="3"}}
    {{#if posts}}
     {{!-- Divider --}}
    <div class="mb-5 flex items-center">
        <p class="flex-shrink-0 pr-2 uppercase">Teксти</p>
        <hr class="border-brand-green w-full">
    </div>
    {{!-- End --}}
    <div class="grid lg:grid-cols-3 md:grid-cols-3 sm:grid-cols-1 grid-cols-1 lg:gap-4 gap-10 mb-10 auto-rows-fr ">
            {{#foreach posts}}
                <a href="{{url}}">
                <img class="h-auto w-full object-cover" srcset="{{img_url feature_image size="s"}} 300w,
                        {{img_url feature_image size="m"}} 720w,
                        {{img_url feature_image size="l"}} 960w"
                        sizes="800px"
                        src="{{img_url feature_image size="m"}}"
                        alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
                        >
                    <div class="mt-2">
                        <p class="text-brand-green text-sm uppercase">{{primary_tag.name}}</p>
                        <h1 class="text-2xl uppercase">{{title}}</h1>
                        <p class="text-brand-green text-sm uppercase">{{date published_at format="MMMM DD, YYYY"}} – <span class="text-gray-400">{{reading_time minute="ЧИТАТИ 1 XВ" minutes="ЧИТАТИ % ХВ"}}</span></p>
                    </div>
                </a>
            </div>
            {{/foreach}}
    {{/if}}
    {{/get}}
</main>
{{/tag}}